/app
Pipfile
Pipfile.lock
.DS_Store
db.sqlite3
.idea

# Virtual Environemnts
venv/
env/
currensee/
.venv/
.vercel/
.env
virtualenv/

# Passwords & Credentials
settings.py
.vercel
server.crt
server.csr
server.key
server.key.org