lightwood >= 23.2.1.1, < 23.3.2.0
gunicorn==20.1.0
markupsafe == 2.0.1
flask-restx >= 1.0.1, < 2.0.0
flask
mindsdb-sql >= 0.4.9, < 0.5.0
requests >= 2.0.0
mindsdb-sdk==1.0.1
mysql-connector-python
Jinja2==2.11.3
