lightwood >= 23.2.1.1, < 23.3.2.0
gunicorn==20.1.0
markupsafe == 2.0.1
flask-restx==1.1.0
Flask
mindsdb-sql >= 0.4.9, < 0.5.0
requests >= 2.0.0
mindsdb-sdk==1.0.1
mysql-connector-python
Jinja2==2.11.3
Flask-Compress==1.13
Flask-WTF==1.1.1
Flask-PyMongo==2.3.0
pandas
pymongo==3.11.2
psycopg2==2.9.6
gunicorn==20.1.0
Flask==2.3.1
Flask-Bootstrap==3.3.7.1
flask-bootstrap5==0.1.dev1
Flask-Bcrypt==1.0.1
Flask-Bootstrap==3.3.7.1
flask-bootstrap5==0.1.dev1
Flask-Compress==1.13
Flask-Login==0.6.2
Flask-Migrate==4.0.4
flask-restx==1.1.0
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Werkzeug==2.3.2