@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Major+Mono+Display&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --dark: #01041f;
  --darker: #282828;
  --grey: #282828;
  --light-grey: #b5b7ba;
  --primary: #0000FF;
  --primary-1: #3500d3;
  --primary-2: #240090;
  --primary-3: #190061;
  --navy: #000C66;
  --light-blue: #41b7d1;
  --mdb-green-1: #00a587;
  --mdb-green-2: #38e2c3;
  --mdb-green-3: #E5F7F4;
  --mdb-blue: #084ee5;
  --mdb-blue-2: #F2F6FE;
  --secondary: #dc3257;
  --secondary-2: #dc3257;
  --lightest: #fafafa;
  --lighter: #f5f5f5;
  --light: #eee;
  --trans-light: #fafafab2;
  --trans-secondary: #2828287e;
  --trans-primary: #3500d3c2;
  --trans-primary-2: #240090d1;
  --trans-primary-3: #0f0a5e9c;
  --trans-navy: #00010977;
  --trans-dark: #01000a9d;
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

h1 {
  color: var(--light);

}

/* Main Page Content */
.title {
  font-family: 'Gruppo', cursive;
  font-weight: 200;

  text-transform: uppercase;

}

h1>span.title-text {
  font-family: 'Gruppo', cursive;
  text-transform: uppercase;
  color: var(--light-blue);
  font-weight: 200;
  letter-spacing: -2px;
}

h2.lead {
  color: var(--lighter);
  font-family: 'Gruppo', cursive;
}

.small {
  color: var(--light);
  font-family: 'Gruppo', cursive;
  font-weight: 400;
  font-size: 1.25rem;
}

span {
  color: var(--light-blue);
  font-weight: 700;
  /* text-shadow: 1px 1px 6px var(--trans-primary-3); */
}

.btn a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--light);
}

.btn-blue {
  outline: 1px solid var(--light-blue);
  padding: 5px;
}

.bg-main {
  background-color: #020718;
}

/* Navbar */
.navbar-brand {
  font-family: 'martian mono', monospace;
}

/* Cover/Landing Page */
section.cover {
  background: linear-gradient(var(--trans-light), #030a42c9), url('../images/bg-blue.jpeg') no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-box {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

.svg {
  color: var(--light-blue);
}

main.container-fluid {
  padding: 0 0 0 0;
}

.open-source-text {
  font-family: 'Martian Mono', monospace;
  font-weight: 200;
  font-size: 1rem;
  margin-top: 50px;
  color: var(--lighter);
}

#cta-btn {
  font-family: 'Martian Mono', monospace;
  font-weight: 200;
  font-size: 1rem;
  margin-top: 50px;
  color: var(--lighter);
}

/* Coins */
.coins {
  min-height: 100vh;
  background-color: var(--light-grey);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  background: #fafafab2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(88 199 250 / 0%);
  font-family: 'Martian Mono', monospace;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
  filter: grayscale(100%);
}

.card:hover {
  filter: grayscale(0%);
  color: var(--primary);
  transition: color 1s;
}

.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-color: linear-gradient(var(--rotate), var(--light-blue), var(--mdb-blue) 43%, var(--light-blue));
  position: absolute;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcffc8, #3c66e3a8 43%, #4e00c2b0);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

div#ethereum {
background-color: #e3e9ed5e;
filter: grayscale(1);
}

div#ethereum:hover {
  background-color: #e3e9ed5e;
  filter: grayscale(0);
  }
  

a {
  color: #212534;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}