@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Major+Mono+Display&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --dark: #01041f;
  --darker: #282828;
  --grey: #282828;
  --light-grey: #b5b7ba;
  --primary-1: #3500d3;
  --primary-2: #240090;
  --primary-3: #190061;
  --navy: #000C66;
  --bg: #494880;
  --light-blue: #41b7d1;
  --mdb-green-1: #00a587;
  --mdb-green-2: #38e2c3;
  --mdb-green-3: #E5F7F4;
  --mdb-blue: #084ee5;
  --mdb-blue-2: #F2F6FE;
  --secondary: #dc3257;
  --secondary-2: #dc3257;
  --lightest: #fafafa;
  --lighter: #f5f5f5;
  --light: #eee;;
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

h1 {
  color: var(--light);

}

hr {
  border-bottom: 2px solid #dfdff0;
  width: 50%;
}

/* Main Page Content */
main {
  height: 100vh;
  background-color: #01041f;
}

.title {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--light-grey);

}

h1>span.title-text {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  color: var(--light-blue);
  font-weight: 400;
  letter-spacing: 3px;
}

.lead {
  color: var(--lighter);
  font-family: 'Gruppo', cursive;
}

.subheading {
  font-family: 'Martian Mono', monospace;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 12px;
  color: var(--light-grey);
}

.small {
  color: var(--light);
  font-family: 'Gruppo', cursive;
  font-weight: 400;
  font-size: 1.25rem;
}

span {
  color: var(--light-blue);
  /* text-shadow: 1px 1px 6px var(--trans-primary-3); */
}

.btn a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.btn-blue {
  outline: 1px solid var(--light-blue);
  padding: 5px;
}

.bg-main {
    background-color: #030620de
}

/* ***************** Navbar */
.navbar-brand,
a.nav-link {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* *************** Cover/Landing Page */
section.cover {
  background: linear-gradient(#020718c8, #071c2ca4, #02051fc9), url('../images/bg1.jpg') no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

a.cover-link {
  font-family: 'gruppo', sans-serif;
}

.btn.cover {
  --border-color-hover: var(--light-blue);
}


.btn {
  --text-color-normal: #8b8b8b;
  --text-color-hover: #d4d4d4;
  --border-radius: 0;
  --border-color-normal: var(--bg);
  --border-color-hover: var(--light-blue);
  position: relative;
  display: inline-block;
  width: 150px;
  height: 100%;
  font-size: 1.2rem;
  letter-spacing: -.025em;
  word-spacing: -.05em;
  transition: .5s;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  padding: 20px;
  background: transparent;
  border: 2px solid #3ea9b3be;
  border-radius: var(--border-radius); 
}

.btn:focus {
  outline: 2px solid #3ea9b3be;
}

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  box-sizing: border-box;
  z-index: 11;
  transform: scale(0);
  transition: 1.25s;
  border-radius: var(--border-radius); 
}

.btn:before {
  border-bottom: 1.5px solid #3ea9b3be;
  border-left: 1.5px solid #63e7f3;
  transform-origin: 0 100%;
}

.btn:after {
  border-top: 1.5px solid #63e7f3;
  border-right: 1.5px solid #63e7f3;
  transform-origin: 100% 0;
}

.btn:hover {
color: #63e7f3;
}

.btn:hover:before,
.btn:hover:after {
transform: scale(1);
}

a#coverLink {
  font-family: 'Dosis', sans-serif;
  color-interpolation-filters: var(--light);
  letter-spacing: 2px;
  color: #3ea9b3be;
}

a#coverLink:hover {
  opacity: 1;
  color: var(--light);
}

a.mdb-cta {
  color: var(--mdb-green-1);
  font-weight: 600;
  text-decoration: underline;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

main.container-fluid {
  padding: 0 0 0 0;
}

.open-source-text {
  font-family: 'Martian Mono', monospace;
  font-weight: 200;
  font-size: 1rem;
  margin-top: 50px;
  color: var(--lighter);
}

#cta-btn {
  font-family: 'Martian Mono', monospace;
  font-weight: 200;
  font-size: 1rem;
  color: var(--lighter);
}

/* -------------------- Coins */
section.coins {
  background-color: var(--dark);
  min-height: 100vh;
}

.card {
  max-width: 100%;
  height: auto;
  background: rgba(140, 194, 223, 0.684);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(88 199 250 / 0%);
  font-family: 'Martian Mono', monospace;
  filter: grayscale(60%);
  border-radius: 10%;
  border-color: transparent;
  opacity: .75;
  /* background-color: #e3e9edb1; */
}

.card:hover {
  filter: grayscale(0%);
  color: var(--darker);
  background-color: #eff1f2de;
  transition: color 1s;
}

#bitcoinForm:hover {
  display: block;
}

.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  background-color: linear-gradient(var(--rotate), var(--light-blue), var(--mdb-blue) 43%, var(--light-blue));
  position: absolute;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcffc8, #3c66e3a8 43%, #4e00c2b0);
  opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

/* ---------------- Bitcoin Predictions */
section.bitcoin {
  background-color: var(--dark);
  min-height: 100vh;
  overflow: hidden;
}

/* ---------------- Ethereum Predictions */
section#ethereum {
  background-color: var(--dark);
  min-height: 100vh;
  overflow: hidden;
  padding: 10px;
}

.table {
  text-align: start;
}


tr, 
table.dataframe,
tr#text {
  text-align: start;
  font-family: 'Gruppo', cursive;
  color: #939dc4e0;
  font-weight: 400;
  font-size: 14px;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: var(--light-blue);
}

table {
  padding: 0px;
}

/* removes the excess zeros from the date data */
td:first-child {
  white-space: nowrap;
}

th,
th.data,
th#text {
  color: var(--light-grey);
  font-size: 1.3rem;
  font-weight: 800;
  font-family: 'Gruppo', sans-serif;
  text-align: start;
  margin: 0 auto;
}

td {
  font-family: 'martian mono', sans-serif;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.85;
}

table {
  padding: 20px;
}

tr:nth-child(odd) {
  color: var(--secondary);
}

@media (min-width: 600px) {
  .card {
    width: var(--card-width);
    height: var(--card-height);
  }
}