:root {
    --dark: #050A30;
    --primary: #0000FF;
    --primary-1: #3500d3;
    --primary-2: #240090;
    --primary-3: #190061;
    --navy: #000C66;
    --light-blue: #7EC8E3;
    --secondary: #dc3257;
    --secondary-2: #dc3257;
    --lightest: #fafafa;
    --lighter: #f5f5f5;
    --light: #eee;
    --trans-light: #fafafa7e;
    --trans-secondary: #2828287e;
    --trans-primary: #3500d37e;
}

