{% extends "base.html" %}
{% block content %}

<section class="bitcoin p-3" id="bitcoin">
    <div class="row text-start my-0 mx-auto p-3 p-md-4">
      <div class="col-12 my-3 my-md-4">
        <h2 class="title display-4 text-light">Dogecoin</h2>
        <hr class="my-3">
        <h2 class="title prediction-text display-4 text-light">PREDICTIONS</h2>
      </div>
      <div class="d-flex justify-content-start align-items-start table-responsive">
        <div class="col-12 p-3">
        <table class="table table-striped table-hover p-3">
          <thead>
          </thead>
          <tbody>
            {{ doge_df | safe }}
          </tbody>
        </table>
      </div>
    </div>
    </div>
</section>

<script>
  const price = 1000;
  const formattedPrice = price.toLocaleString('en-US', { style: 'currency', currency: 'USD' });
  console.log(formattedPrice); 
</script>
{% endblock %}