{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5 pt-5">
            <form method="POST" action="/bitcoin">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.coin.label }}
                    {{ form.coin(class='form-control') }}
                    {% if form.coin.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.coin.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                    {% endif %}
                    {{ form.submit(class='btn btn-primary btn-lg btn-block') }}
                </div>
            </form>
        </div>
    </div>
    <div class="row">
<!-- render the bitcoin method query results here-->    
    <div class="col-12">

        </div>
    </div>
</div>
{% endblock %}
