{% extends "base.html" %}
{% block content %}

<section class="coins" id="coins">
  <div class="container my-0 mx-auto">
  <div class="row p-2 p-md-4 my-0 mx-auto">
    <div class="col-12 text-start p-3 mt-md-4 text-light">
      <h2 class="my-2 border-bottom display-3 title">Coins</h2>
      <p class="subheading">Click on a coin to get this week's price predictions from <span class="mdb">MindsDB</span></p>
    </div>
  </div>
  <div class="row g-3" data-masonry='{"percentPosition": true }'>
      <div class="col-sm-6 col-lg-4 mb-4" >
        <div class="card h-100" id="bitcoin">
         <a class="stretched-link" href="{{ url_for ('bitcoin') }}"></a>
          <img src="../static/images/bitcoin-logo.png" alt="Bitcoin logo" class="img-fluid">
          <h4>Bitcoin</h4>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4" >
        <div class="card h-100" id="ethereum">
          <div class="d-flex flex-column p-5 pb-3 front">
            <img src="../static/images/etherium-icon.png" alt="Ethereum" class="img-fluid">
            <a class="stretched-link" href="{{ url_for ('ethereum') }}"></a>
            <h4>Ethereum</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4 mb-4" >
        <div class="card h-100" id="ethereum">
          <div class="d-flex flex-column p-5 pb-3 front">
            <img src="../static/images/doge.png"
              class="img-fluid">
              <a class="stretched-link" href="{{ url_for ('dogecoin') }}"></a>
            <h4>Dogecoin</h4>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>


{% endblock %}