{% extends "base.html" %}
{% block content %}

<section class="coins" id="coins">

  <div class="container-fluid px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Coins</h2>

    <div class="row d-flex align-items-center align-items-stretch g-4 p-5">
      <div class="col-xs-8 col-sm-4">
        <div class="card h-100 border-0" id="bitcoin"
         style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/35/Bitcoin_Network_Blue_4k.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">
          <!-- <img src="static/images/bitcoin.svg" alt="" class="src"> -->
            <a class="stretched-link" href="{{ url_for ('bitcoin') }}"></a>
        </div>
      </div>

      <div class="col-xs-8 col-sm-4">
        <div class="card h-100" id="etherium">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Ethereum_logo_translucent.svg"
              class="img-fluid">
            <h2>Etherium</h2>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-sm-4">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                  class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#geo-fill"></use>
                </svg>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em">
                  <use xlink:href="#calendar3"></use>
                </svg>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}