{% extends "base.html" %}
{% block content %}

<section class="coins" id="coins">
  <div class="container my-0 mx-auto">
  <div class="row p-2 px-3 my-0 mx-auto">
    <div class="col-12 text-start p-3 text-light">
      <h2 class="my-2 border-bottom">Coins</h2>
      <p class="subheading">Choose a coin to view predictions from our MindsDB machine-learning models</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center my-0 mx-auto g-3 p-3">
      <div class="col-xs-8 col-sm-4 p-3" >
        <div class="card h-100" id="bitcoin">
         <a class="stretched-link" href="{{ url_for ('bitcoin') }}"></a>
          <img src="../static/images/bitcoin-logo.png" alt="Bitcoin logo" class="img-fluid">
          <h2>Bitcoin</h2>
        </div>
      </div>

      <div class="col-xs-8 col-sm-4 p-3" >
        <div class="card h-100" id="ethereum">
          <div class="d-flex flex-column p-5 pb-3 front">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Ethereum_logo_translucent.svg"
              class="img-fluid">
            <a class="stretched-link" href="{{ url_for ('ethereum') }}"></a>
            <h2>Etherium</h2>
          </div>
        </div>
      </div>

      <div class="col-xs-8 col-sm-4 p-3" >
        <div class="card h-100" id="ethereum">
          <div class="d-flex flex-column p-5 pb-3 front">
            <img src="../static/images/doge-blue.png"
              class="img-fluid">
            <h2>Dogecoin</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}