{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row p-5 mt-5">
        <div class="col-12">
        <!-- table -->
        <section class="bg-blue text-white">
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <h2>Market <b>Capitalisation</b></h2>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive-md">
                    <table class="table table-lined">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Capitalisation</th>
                          <th scope="col">Price</th>
                          <th scope="col">Circulating</th>
                          <th scope="col">24h Change</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Bitcoin</th>
                          <td>$132.12 B</td>
                          <td>$8021.47</td>
                          <td>16,924,425 BTC</td>
                          <td>15.75%</td>
                        </tr>
                        <tr>
                          <th scope="row">Ethereum</th>
                          <td>$56.48 B</td>
                          <td>$575</td>
                          <td>98,245,714 ETH</td>
                          <td>2.75%</td>
                        </tr>
                        <tr>
                          <th scope="row">Ripple</th>
                          <td>$24.41 B</td>
                          <td>$0.6372</td>
                          <td>39,091,716,516 XRP</td>
                          <td>15.75%</td>
                        </tr>
                        <tr>
                          <th scope="row">Bitcoin Cash</th>
                          <td>$16.42 B</td>
                          <td>$964.75</td>
                          <td>17,022,925 BCH</td>
                          <td>10.48%</td>
                        </tr>
                        <tr>
                          <th scope="row">Litecoin</th>
                          <td>$8.66 B</td>
                          <td>$155.43</td>
                          <td>55,670,106 LTC</td>
                          <td>1.25%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-12">
                  <section class="bg-main text-light separator-top">
                    <div class="container">
                      <div class="row">
                        <div class="col text-center">
                          <h2><b>Token</b> distribution</h2>
                        </div>
                      </div>
                      <div class="row justify-content-between">
                        <div class="col-5 col-lg-2 text-center">
                          <div class="progress-circle" data-percent="50" data-color="white"><canvas width="1200" height="1200" style="height: 600px; width: 600px;"></canvas>
                            <strong class="text-white">50<i>%</i></strong>
                          </div>
                          <h4 class="mt-3">Sale</h4>
                        </div>
                        <div class="col-5 col-lg-2 text-center">
                          <div class="progress-circle" data-percent="5" data-color="white"><canvas width="1200" height="1200" style="height: 600px; width: 600px;"></canvas>
                            <strong class="textwhite">5<i>%</i></strong>
                          </div>
                          <h4 class="mt-3">Team</h4>
                        </div>
                        <div class="col-5 col-lg-2 text-center">
                          <div class="progress-circle" data-percent="20" data-color="white"><canvas width="1200" height="1200" style="height: 600px; width: 600px;"></canvas>
                            <strong class="textwhite">20<i>%</i></strong>
                          </div>
                          <h4 class="mt-3">Volume</h4>
                        </div>
                        <div class="col-5 col-lg-2 text-center">
                          <div class="progress-circle" data-percent="25" data-color="white"><canvas width="1200" height="1200" style="height: 600px; width: 600px;"></canvas>
                            <strong class="text-white">25<i>%</i></strong>
                          </div>
                          <h4 class="mt-3">Market Capitalisation</h4>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>
          <!-- / table -->
          
        </div>
    </div>
</div>


{% endblock %}