{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row p-5 mt-5">
        <div class="col-12">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Adj Close</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in query.fetch() %}
                    <tr>
                        <td>{{ row['Date'] }}</td>
                        <td>{{ row['Open'] }}</td>
                        <td>{{ row['High'] }}</td>
                        <td>{{ row['Low'] }}</td>
                        <td>{{ row['Close'] }}</td>
                        <td>{{ row['Adj Close'] }}</td>
                        <td>{{ row['Volume'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}