{% extends "base.html" %}
{% block content %}

<!--Cover-->
<section class="cover">
    <div class="row d-flex align-items-center mt-5 pt-5">
      <div class="col-12 text-center align-items-center pt-3 pt-md-4">
        <h1 class="display-1 title">curren<span class="title-text">$ee</span>
        </h1>
        <h2 class="lead my-3 my-md-4 display-6">AI Blockchain Tool</h2>
        <p class="small my-4 pt-3 pt-md-5">Powered by MindsDB </p>
        <div class="d-grid d-md-flex justify-content-center mt-3 pt-3">
          <button type="button" class="btn btn-light btn- pt-5lg px-4 me-md-2">COINS</button>
        </div>
      </div>
    </div>
  </section>

{% endblock %}