{% extends "base.html" %}

{% block content %}
<section class="form-login container-fluid mt-3 mt-md-5" id="login-form">
    <div class="row">
        <div class="col-12">
                    <div class="body">
                        <form name="login" method="POST" class="login-form" action="{{ url_for('login') }}">
                            {{ form.csrf_token }}
                          
                            <div class="button-wrapper mt-3">
                            </div>
                        </form>
                    </div>
             
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}